extends base.pug

block content 
  h4 Change Title of Video 
  form(action="/upload" method="POST") 
    input(name="title" type="text" placeholder="Video Title" value=video.title required)
    input(value="Save" type="submit")